.footer {
  height: 80px;
  background: var(--background-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid var(--font-color1);
  margin-left: 100px;
  margin-right: 100px;
}

.socialMedia svg {
  color: var(--font-color2);
  margin: 20px;
  font-size: 70px;
  cursor: pointer;
}

.footer p {
  color: var(--font-color1);
  margin: 20px;
}

@media only screen and (max-width: 600px) {
  .footer svg {
    font-size: 50px;
  }
}
