.project {
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  margin-right: 50px;
  margin-left: 50px;
}

.project-info {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: auto;
  padding-right: 20px; /* Add padding to prevent content from sticking to the right edge */
}

.project h1 {
  margin-top: 50px;
}

.img-column {
  grid-column: 2;
}

.slide {
  margin-bottom: 20px; /* Add margin between the slides */
}

.project img {
  max-width: 100%; /* Limit the image width to its parent container */
  height: auto; /* Preserve the image's aspect ratio */
}

.project-info p {
  font-size: 14px;
  text-align: justify;
}

.full-screen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.full-screen-content {
  max-width: 90%;
  max-height: 90%;
}

.full-screen-content img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}
